.header_wrapper{
    display: flex;
    justify-content: space-between;
    grid-area: header;

}

.logo{
    width: 50px;
}


.login a{
    font-weight: 300;
    font-size: 35px;
    color: black;
}
a{
    text-decoration: none;
}
.login_text {
    display: flex;
    align-items: center;
  }
.login_text .logo {
    padding-left: 10px;
}

.header_center{
    max-width: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
