.App{
  max-width: 1170px;
  padding: 15px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  'header header'
  'navBar main';
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;
}

.main_wrapper{
  grid-area: main;
}